<div class="page-header" style="height: 70px">
    <div class="page-header-menu">
        <div class="page-logo" style="display: inline;float: left">
            <a href="index.html">
                <img src="/assets/imags/logo.png" width="60px" height="50px" alt="logo" class="logo-default">
            </a>
        </div>
        <div class="container">
            <!-- END HEADER SEARCH BOX -->
            <!-- BEGIN MEGA MENU -->
            <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
            <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
            <div class="hor-menu  ">
                <ul class="nav navbar-nav">
                    <li class="menu-dropdown classic-menu-dropdown active">
                        <a href="/"> 首页
                            <span class="arrow"></span>
                        </a>
                    </li>
                    <li class="menu-dropdown mega-menu-dropdown  ">
                        <a href="/list/course.htm"> 课程
                            <span class="arrow"></span>
                        </a>
                    </li>
                    <li class="menu-dropdown classic-menu-dropdown ">
                        <a href="/bbs/"> 论坛
                            <span class="arrow"></span>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li class=" ">
                                <a href="layout_mega_menu_light.html" class="nav-link  "> Light Mega Menu </a>
                            </li>
                            <li class=" ">
                                <a href="layout_top_bar_light.html" class="nav-link  "> Light Top Bar Dropdowns </a>
                            </li>
                            <li class=" ">
                                <a href="layout_fluid_page.html" class="nav-link  "> Fluid Page </a>
                            </li>
                            <li class=" ">
                                <a href="layout_top_bar_fixed.html" class="nav-link  "> Fixed Top Bar </a>
                            </li>
                            <li class=" ">
                                <a href="layout_mega_menu_fixed.html" class="nav-link  "> Fixed Mega Menu </a>
                            </li>
                            <li class=" ">
                                <a href="layout_disabled_menu.html" class="nav-link  "> Disabled Menu Links </a>
                            </li>
                            <li class=" ">
                                <a href="layout_blank_page.html" class="nav-link  "> Blank Page </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-dropdown mega-menu-dropdown  mega-menu-full">
                        <a href="/list/profile.htm"> 个人中心
                            <span class="arrow"></span>
                        </a>
                    </li>
                    <li class="menu-dropdown classic-menu-dropdown ">
                        <a href="javascript:;"> 加入我
                            <span class="arrow"></span>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li class="dropdown-submenu ">
                                <a href="javascript:;" class="nav-link nav-toggle ">
                                    <i class="icon-settings"></i> Form Stuff
                                    <span class="arrow"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class=" ">
                                        <a href="form_controls.html" class="nav-link "> Bootstrap Form
                                            <br>Controls </a>
                                    </li>
                                    <li class=" ">
                                        <a href="form_controls_md.html" class="nav-link "> Material Design
                                            <br>Form Controls </a>
                                    </li>
                                    <li class=" ">
                                        <a href="form_validation.html" class="nav-link "> Form Validation </a>
                                    </li>
                                    <li class=" ">
                                        <a href="form_validation_states_md.html" class="nav-link "> Material Design
                                            <br>Form Validation States </a>
                                    </li>
                                    <li class=" ">
                                        <a href="form_validation_md.html" class="nav-link "> Material Design
                                            <br>Form Validation </a>
                                    </li>
                                    <li class=" ">
                                        <a href="form_layouts.html" class="nav-link "> Form Layouts </a>
                                    </li>
                                    <li class=" ">
                                        <a href="form_input_mask.html" class="nav-link "> Form Input Mask </a>
                                    </li>
                                    <li class=" ">
                                        <a href="form_editable.html" class="nav-link "> Form X-editable </a>
                                    </li>
                                    <li class=" ">
                                        <a href="form_wizard.html" class="nav-link "> Form Wizard </a>
                                    </li>
                                    <li class=" ">
                                        <a href="form_icheck.html" class="nav-link "> iCheck Controls </a>
                                    </li>
                                    <li class=" ">
                                        <a href="form_image_crop.html" class="nav-link "> Image Cropping </a>
                                    </li>
                                    <li class=" ">
                                        <a href="form_fileupload.html" class="nav-link "> Multiple File Upload </a>
                                    </li>
                                    <li class=" ">
                                        <a href="form_dropzone.html" class="nav-link "> Dropzone File Upload </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu ">
                                <a href="javascript:;" class="nav-link nav-toggle ">
                                    <i class="icon-briefcase"></i> Tables
                                    <span class="arrow"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class=" ">
                                        <a href="table_static_basic.html" class="nav-link "> Basic Tables </a>
                                    </li>
                                    <li class=" ">
                                        <a href="table_static_responsive.html" class="nav-link "> Responsive Tables </a>
                                    </li>
                                    <li class=" ">
                                        <a href="table_bootstrap.html" class="nav-link "> Bootstrap Tables </a>
                                    </li>
                                    <li class="dropdown-submenu ">
                                        <a href="javascript:;" class="nav-link nav-toggle"> Datatables
                                            <span class="arrow"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="">
                                                <a href="table_datatables_managed.html" class="nav-link "> Managed Datatables </a>
                                            </li>
                                            <li class="">
                                                <a href="table_datatables_buttons.html" class="nav-link "> Buttons Extension </a>
                                            </li>
                                            <li class="">
                                                <a href="table_datatables_colreorder.html" class="nav-link "> Colreorder Extension </a>
                                            </li>
                                            <li class="">
                                                <a href="table_datatables_rowreorder.html" class="nav-link "> Rowreorder Extension </a>
                                            </li>
                                            <li class="">
                                                <a href="table_datatables_scroller.html" class="nav-link "> Scroller Extension </a>
                                            </li>
                                            <li class="">
                                                <a href="table_datatables_fixedheader.html" class="nav-link "> FixedHeader Extension </a>
                                            </li>
                                            <li class="">
                                                <a href="table_datatables_responsive.html" class="nav-link "> Responsive Extension </a>
                                            </li>
                                            <li class="">
                                                <a href="table_datatables_editable.html" class="nav-link "> Editable Datatables </a>
                                            </li>
                                            <li class="">
                                                <a href="table_datatables_ajax.html" class="nav-link "> Ajax Datatables </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu ">
                                <a href="?p=" class="nav-link nav-toggle ">
                                    <i class="icon-wallet"></i> Portlets
                                    <span class="arrow"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class=" ">
                                        <a href="portlet_boxed.html" class="nav-link "> Boxed Portlets </a>
                                    </li>
                                    <li class=" ">
                                        <a href="portlet_light.html" class="nav-link "> Light Portlets </a>
                                    </li>
                                    <li class=" ">
                                        <a href="portlet_solid.html" class="nav-link "> Solid Portlets </a>
                                    </li>
                                    <li class=" ">
                                        <a href="portlet_ajax.html" class="nav-link "> Ajax Portlets </a>
                                    </li>
                                    <li class=" ">
                                        <a href="portlet_draggable.html" class="nav-link "> Draggable Portlets </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu ">
                                <a href="?p=" class="nav-link nav-toggle ">
                                    <i class="icon-settings"></i> Elements
                                    <span class="arrow"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class=" ">
                                        <a href="elements_steps.html" class="nav-link "> Steps </a>
                                    </li>
                                    <li class=" ">
                                        <a href="elements_lists.html" class="nav-link "> Lists </a>
                                    </li>
                                    <li class=" ">
                                        <a href="elements_ribbons.html" class="nav-link "> Ribbons </a>
                                    </li>
                                    <li class=" ">
                                        <a href="elements_overlay.html" class="nav-link "> Overlays </a>
                                    </li>
                                    <li class=" ">
                                        <a href="elements_cards.html" class="nav-link "> User Cards </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu ">
                                <a href="javascript:;" class="nav-link nav-toggle ">
                                    <i class="icon-bar-chart"></i> Charts
                                    <span class="arrow"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class=" ">
                                        <a href="charts_amcharts.html" class="nav-link "> amChart </a>
                                    </li>
                                    <li class=" ">
                                        <a href="charts_flotcharts.html" class="nav-link "> Flot Charts </a>
                                    </li>
                                    <li class=" ">
                                        <a href="charts_flowchart.html" class="nav-link "> Flow Charts </a>
                                    </li>
                                    <li class=" ">
                                        <a href="charts_google.html" class="nav-link "> Google Charts </a>
                                    </li>
                                    <li class=" ">
                                        <a href="charts_echarts.html" class="nav-link "> eCharts </a>
                                    </li>
                                    <li class=" ">
                                        <a href="charts_morris.html" class="nav-link "> Morris Charts </a>
                                    </li>
                                    <li class="dropdown-submenu ">
                                        <a href="javascript:;" class="nav-link nav-toggle"> HighCharts
                                            <span class="arrow"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="">
                                                <a href="charts_highcharts.html" class="nav-link " target="_blank"> HighCharts </a>
                                            </li>
                                            <li class="">
                                                <a href="charts_highstock.html" class="nav-link " target="_blank"> HighStock </a>
                                            </li>
                                            <li class="">
                                                <a href="charts_highmaps.html" class="nav-link " target="_blank"> HighMaps </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-dropdown mega-menu-dropdown  mega-menu-full">
                        <a href="/list/about.htm"> 关于
                            <span class="arrow"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- END MEGA MENU -->
        </div>
    </div>
    <!-- END HEADER MENU -->
</div>
