<div class="modal fade" id="customTypeModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <span class="glyphicon glyphicon-paperclip"></span>
                <span style="font-weight:bold;font-size: 13px;">自定义类型</span>
            </div>
            <form class="form-horizontal" role="form" id="customTypeForm" name="customTypeForm">
                $!csrfToken.hiddenField
                <input name="id" type="hidden"/>

                <div class="modal-body" style="padding: 2px;padding-top:0px;">
                    <table class="table" style="width: 99%;padding: 0px;">
                        <tbody>
                        <tr>
                            <td align="right" style="width:10%;">
                                列名：
                            </td>
                            <td align="left">
                                <input name="columnName" type="text" style="width: 90%;" placeholder="" readonly/>
                            </td>
                        </tr>

                        <tr id="schemaBodyRow">
                            <td align="right">
                                自定义类型:
                            </td>
                            <td align="left" colspan="3" id="schemaTd">
                                <div id="aceEditorPanel">
                                    <pre id="schema" name="schema" class="required" style="height: 200px; width:450px;"></pre>
                                </div>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-sm btn-success"
                            id="btnCustomType"><span
                            class="glyphicon glyphicon-saved"></span>&nbsp;提交
                    </button>
                </div>
            </form>



        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>
