<div class="modal fade" id="dataEnvAddModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <span class="glyphicon glyphicon-paperclip"></span>
                <span style="font-weight:bold;font-size: 13px;">新建数据环境</span>
            </div>
            <form class="form-horizontal" role="form" id="dataEnvAddForm" name="dataEnvAddForm">

                $!csrfToken.hiddenField
                <input name="id" type="hidden"/>

                <div class="modal-body" style="padding: 2px;padding-top:0px;">
                    <table class="table" style="width: 99%;padding: 0px;">
                        <tbody>
                        <tr>
                            <td align="right" style="width:18%;">
                                命名空间：
                            </td>
                            <td align="left">
                                <input name="ns" id="ns" type="text" style="width: 80%;" readonly/>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" style="width:20%;">
                                环境英文名：
                            </td>
                            <td align="left">
                                <input name="dataEnvEn" id="dataEnvEn" type="text" style="width: 80%;" class="required"
                                />
                            </td>
                        </tr>
                        <tr>
                            <td align="right" style="width:18%;">
                                环境中文名：
                            </td>
                            <td align="left">
                                <input name="dataEnvCn" type="text" style="width: 80%;"
                                       class="required" placeholder="输入新环境中文名"/>
                            </td>
                        </tr>

                        <tr>
                            <td align="right" style="width:18%;">
                                备注：
                            </td>
                            <td align="left">
                                <textarea name="description" style="line-height: 3;width: 80%" class="required"></textarea>

                            </td>
                        </tr>
                        </tbody>
                    </table>


                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-sm btn-success"
                            id="btnSubmit"><span
                            class="glyphicon glyphicon-saved"></span>&nbsp;提交
                    </button>
                </div>
            </form>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->


</div>

