<div class="modal fade text-center" id="headerModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="display: inline-block; width: auto; min-width: 600px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <span class="glyphicon glyphicon-paperclip"></span>
                <span style="font-weight:bold;font-size: 13px;">header详情</span>
            </div>
            <div id="headerDetails" class="modal-body" style="padding: 2px;padding-top:0px;">

            </div>
        </div>
        <!-- /.modal-content -->
    </div>

</div><!-- /.modal -->