<div class="modal fade" id="recordAddModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <span class="glyphicon glyphicon-paperclip"></span>
                <span style="font-weight:bold;font-size: 13px;">新增Record</span>
            </div>
            <form class="form-horizontal" role="form" id="recordAddForm" name="recordAddForm">
                $!csrfToken.hiddenField
                <input name="id" type="hidden"/>

                <div class="modal-body" style="padding: 2px;padding-top:0px;">
                    <table class="table" style="width: 99%;padding: 0px;">
                        <tbody>
                        <tr>
                            <td colspan="2">
                                <div class="form-group">

                                    <div class="col-sm-11">
                                            <pre style="15%">Table: <input type="text" id="currentTable" style="width: 85%" readonly></pre>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr id="schemaBodyRow">
                            <td align="right">
                                Content:
                            </td>
                            <td align="left" colspan="2" id="schemaTd">
                                <div id="aceEditorPanel">
                                    <pre id="addRecord" name="addRecord" class="required" style="height: 400px; width:450px;"></pre>
                                </div>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>

            </form>


            <div class="modal-footer">
                <button type="submit" class="btn btn-sm btn-success"
                        id="btnRecordAdd"><span
                        class="glyphicon glyphicon-saved"></span>&nbsp;提交
                </button>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>
