<div class="modal fade" id="recordDetailJsonModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <span class="glyphicon glyphicon-paperclip"></span>
                <span style="font-weight:bold;font-size: 13px;">Json格式查看</span>
            </div>
            <form class="form-horizontal" role="form">
                $!csrfToken.hiddenField
                <input name="id" type="hidden"/>

                <div class="modal-body" style="padding: 2px;padding-top:0px;">
                    <table class="table" style="width: 99%;padding: 0px;">
                        <tbody>
                        <tr>
                            <td align="right">
                                记录ID:
                            </td>
                            <td align="left" colspan="2">
                                <pre style="max-width: 91%;border: solid 1px #9b9" id="recordId"></pre>
                            </td>
                        </tr>

                        <tr>
                            <td align="right">
                                Header:
                            </td>
                            <td align="left" colspan="3">
                                <div>
                                    <pre id="headerJson" name="headerJson" class="required"
                                         style="height: 300px; width:450px;"></pre>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">
                                Payload:
                            </td>
                            <td align="left" colspan="3">
                                <div>
                                    <pre id="payloadJson" name="payloadJson" class="required"
                                         style="height: 400px; width:450px;"></pre>
                                </div>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>

            </form>


        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>
