<div class="modal fade" id="tableAddModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <span class="glyphicon glyphicon-paperclip"></span>
                <span style="font-weight:bold;font-size: 13px;">新建表</span>
            </div>
            <form class="form-horizontal" role="form" id="tableAddForm" name="tableAddForm">

                $!csrfToken.hiddenField
                <input name="id" type="hidden"/>
                <input name="columnCount" id="columnCount" type="hidden" value="1"/>

                <div class="modal-body" style="padding: 2px;padding-top:0px;">
                    <table class="table" style="width: 99%;padding: 0px;">
                        <tbody id="body">
                        <tr>
                            <td align="right" >
                                表名：
                            </td>
                            <td align="left" colspan="4">
                                <input name="table"  type="text" style="width: 80%;"/>
                            </td>

                        </tr>
                        <tr>
                            <td align="left" colspan="4">
                                <a class="btn btn-link btn-toolbar" id="btnAddColumn" style="margin-left: 7px;color: orangered"><span
                                        class="glyphicon glyphicon-plus">新增列</span></a>
                            </td>
                        </tr>
                        <tr id="columnTr">
                            <td align="right" style="width:18%;">
                                列名：
                            </td>
                            <td align="left">
                                <input name="column"  type="text" style="width: 80%;"/>
                            </td>
                            <td align="right" style="width:18%;">
                                类型：
                            </td>
                            <td align="left">
                                <select name="columnType" style="width: 80%;">
                                    <option value="INTEGER">Integer</option>
                                    <option value="STRING">String</option>
                                    <option value="Short">Short</option>
                                    <option value="custom">自定义</option>
                                </select>
                            </td>
                            <td align="left">
                                <a class="btn btn-link btn-xs btnDelColumn" style="display: none;"><span
                                        class="glyphicon glyphicon-remove-sign" style="color: red">删除</span></a>

                            </td>
                        </tr>

                        <tr id="descriptionTr">
                            <td align="right" style="width:18%;">
                                备注：
                            </td>
                            <td align="left" colspan="4">
                                <textarea name="description" style="line-height: 3;width: 80%"
                                          class="required"></textarea>

                            </td>
                        </tr>
                        </tbody>
                    </table>


                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-sm btn-success"
                            id="btnSubmit"><span
                            class="glyphicon glyphicon-saved"></span>&nbsp;提交
                    </button>
                </div>
            </form>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->


</div>

