<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">

    <bean id="branchAdminService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init" scope="singleton">
        <property name="interfaceName" value="com.alibaba.doa.amsops.client.service.BranchAdminService" />
        <property name="version" value="1.0.0.daily" />
    </bean>

</beans>