#parse("/control/list/macro.vm")
<div class="page-header" style="height: 70px">
    <div class="page-header-menu">
        <div class="page-logo" style="display: inline;float: left">
            <a href="index.html">
                <img src="/assets/imags/logo.png" width="60px" height="50px" alt="logo" class="logo-default">
            </a>
        </div>
        <div class="container">
            <!-- END HEADER SEARCH BOX -->
            <!-- BEGIN MEGA MENU -->
            <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
            <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
            <ul class="nav navbar-nav navbar-right" style="float: right">
                #if(!$studentWrapper)
                    <li class="menu-dropdown classic-menu-dropdown">
                        <a href="/form/loginAndRegister.htm" class="btn btn-success" style="height: 50px"> 登录/注册
                        </a>
                    </li>
                #else
                    <li class="dropdown" id="userInfoMenu">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    <span>
                        #if(!$studentWrapper.avatarURL)
                            <img alt="" id="avatar" class="img-circle" style="height: 20px" src="/assets/imags/student/profile/defaultAvatar.png"/>

                        #else
                            <img alt="" id="avatar" class="img-circle" style="height: 20px" src="$!studentWrapper.avatarURL"/>

                        #end
                    </span>
                            <span id="userNick">$!{studentWrapper.student.studentName}</span><span
                                class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" style="font-size: 13px;left: 0px">
                            <li><a href="/list/profile.htm" style="width: 20px"><span class="icon-user"></span>个人中心</a>
                            <li><a href="/list/lockScreen.htm" style="width: 20px"><span
                                    class="glyphicon glyphicon-off"></span>锁屏</a>
                            <li><a href="#" style="width: 20px"><span class="icon-logout"></span>&nbsp;退出</a>
                            </li>
                        </ul>
                    </li>

                #end


            </ul>
            <div class="hor-menu ">
                <ul class="nav navbar-nav">
                    <li class="menu-dropdown classic-menu-dropdown #markActiveNavBarTab("首页" $navInfo)">
                        <a href="/"> 首页
                            <span class="arrow"></span>
                        </a>
                    </li>
                    <li class="menu-dropdown mega-menu-dropdown #markActiveNavBarTab("课程" $navInfo) ">
                        <a href="/list/course.htm"> 课程
                            <span class="arrow"></span>
                        </a>
                    </li>
                    <li class="menu-dropdown classic-menu-dropdown #markActiveNavBarTab("论坛" $navInfo) ">
                        <a href="/bbs/"> 论坛
                            <span class="arrow"></span>
                        </a>
                    </li>
                ##                    <li class="menu-dropdown mega-menu-dropdown  mega-menu-full #markActiveNavBarTab("个人中心" $navInfo)">
                ##                        <a href="/list/profile.htm"> 个人中心
                ##                            <span class="arrow"></span>
                ##                        </a>
                ##                    </li>
                    <li class="menu-dropdown mega-menu-dropdown  mega-menu-full">
                        <a href="/list/about.htm"> 关于
                            <span class="arrow"></span>
                        </a>
                    </li>
                </ul>

            </div>
            <!-- END MEGA MENU -->
        </div>
    </div>
    <!-- END HEADER MENU -->
</div>
