<div class="col-md-3">
    #if(!$user)
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">我的论坛</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="profile-sidebar">
                        <div class="profile-sidebar-item profile-avatar">
                            <a href="#">
                                <img src="/assets/imags/student/profile/defaultAvatar.png" alt="${user.userName}" class="avatar avatar-lg img-circle"/>
                            </a>
                        </div>
                        <div class="profile-sidebar-item profile-info">
                            <a href="#" class="h5 bold">个人主页</a>
                            <div class="w150 center-block mt10">
                                <a class="btn btn-success btn-outline btn-block" href="/bbs/list/bbsAdd.htm">
                                    <span>发布新帖子</span>
                                </a>
                            </div>
                        </div>
                        <hr>
                        <ul class="profile-sidebar-item profile-numbers-count">
                            <li><a href="#"><span class="bold">0</span>帖子收藏</a></li>
                            <li><a href="#"><span class="bold">0</span>节点收藏</a></li>
                            <li><a href="#"><span class="bold">0</span>特别关注</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    #end

    #if(!$bbs)
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">社区运行状况</h3>
            </div>
            <div class="panel-body">
                <p>社区会员：${bbs.user_count}</p>
                <p>帖子数　：${bbs.topic_count}</p>
                <p>回帖数　：${bbs.comment_count}</p>
            </div>
        </div>
    #end
</div><!-- /.col-md-4 -->

