#set($navInfo="论坛")
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading home-panel">
                    <div class="box-tab">
                        <div>
                            <ul class="nav nav-tabs">
                                #foreach($topicCate in $topicCategories)
                                    #if($topicCate.nameEn.equals($activeTab))
                                        <li class="active"><a href="/bbs/?tab=$topicCate.nameEn"
                                                              data-toggle="tab">$topicCate.nameCn</a></li>
                                    #else
                                        <li><a href="/bbs/?tab=$topicCate.nameEn" data-toggle="tab">$topicCate.nameCn</a></li>
                                    #end
                                #end
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane active" id="$activeTab">
                                #if(!${topics} || ${topics.size()}== 0)
                                    <div class="alert alert-info alert-dismissable">
                                        该节点下暂时还木有帖子呢 <i class="twa twa-lg twa-sparkles"></i>
                                    </div>
                                #else
                                    <section class="widget bg-white post-comments">

                                        #foreach($topic in $topics)
                                            <div class="media">
                                                <a class="pull-left" href="#">
                                                    <img class="media-object avatar avatar-sm" src="/assets/imags/student/profile/defaultAvatar.png"
                                                         alt="#">
                                                </a>
                                                <div class="comment">
                                                    <div class="comment-author h6 no-margin">
                                                        #if($topic.comments > 0)
                                                            <div class="comment-meta small">
                                                                <a href="/topic/ + topic.tid + '#Reply' + topic.comments}"
                                                                   class="badge-comment">$!{topic.comments}</a>
                                                            </div>
                                                            <a href="/bbs/list/topic.htm?topicID=$!{topic.id}&topicCategory=$!{topic.topicCategory}">$!{topic.title}</a>
                                                        #else
                                                                <a href="/bbs/list/topic.htm?topicID=$!{topic.id}&topicCategory=$!{topic.topicCategory}">$!{topic.title}</a>
                                                        #end
                                                    </div>
                                                    <div class=" comment-bt">
                                                        <strong>
                                                            <a href="#">$!topic.user</a>
                                                        </strong>
                                                        &nbsp;•&nbsp;
                                                        <span>$dateUtils.format("yyyy-mm-dd hh:mm:ss",$!topic.createTime)</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr/>
                                        #end
                                    </section>
                                #end

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        $control.setTemplate("sidebar.vm")
    </div>
</div>