<table style="width: 100%;border: 0px;padding: 0px;">
    <tr>
        <td style="width: 20%;" align="center">
            <input type="hidden" name="categoryDimId"  value="root"/>
            <input type="hidden" name="categoryDimTxt"  value="根节点"/>
            类目:
            <div class="btn-group">
                <button name="categoryFilter" style="padding: 2px;font-size: 13px;height: 23px;"
                        class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">根节点 <span class="caret"></span></button>
                <ul name="categorySelect" class="dropdown-menu" role="menu" style="width: 300px">
                </ul>
            </div>
        </td>

        <td style="width: 20%;" align="center">
            <input type="hidden" name="marketDimId" value="root"/>
            <input type="hidden" name="marketDimTxt"  value="根节点"/>
            市场:
            <div class="btn-group">
                <button name="marketFilter" class="btn btn-default dropdown-toggle"
                        style="padding: 2px;font-size: 13px;height: 23px;"
                        data-toggle="dropdown">根节点 <span class="caret"></span></button>
                <ul name="marketSelect" class="dropdown-menu" role="menu" style="width: 300px">
                </ul>
            </div>
        </td>

        <td style="width: 20%;" align="center">
            <input type="hidden" name="terminalDimId"  value="root"/>
            <input type="hidden" name="terminalDimTxt"  value="根节点"/>
            终端:
            <div class="btn-group">
                <button name="terminalFilter" style="padding: 2px;font-size: 13px;height: 23px;"
                        class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">根节点 <span class="caret"></span>
                </button>
                <ul name="terminalSelect" class="dropdown-menu" role="menu" style="width: 300px">
                </ul>
            </div>
        </td>

        <td style="width: 20%;" align="center">
            <input type="hidden" name="userDimId"  value="root"/>
            <input type="hidden" name="userDimTxt"  value="根节点"/>
            用户:
            <div class="btn-group">
                <button name="userFilter" class="btn btn-default dropdown-toggle"
                        style="padding: 2px;font-size: 13px;height: 23px;"
                        data-toggle="dropdown">根节点 <span class="caret"></span>
                </button>
                <ul name="userSelect" class="dropdown-menu" role="menu" style="width: 300px">
                </ul>
            </div>
        </td>
    </tr>
</table>


<!-- 可选的Bootstrap主题文件（一般不用引入） -->
<link rel="stylesheet" href="/assets/bootstrap/treeview/bootstrap-treeview.css" />
<script src="/assets/bootstrap/treeview/bootstrap-treeview.js" charset="UTF-8"></script>
<script src="/assets/js/filter2.js" charset="UTF-8"></script>
