#macro (showUserName $name $template)
    #set ($names = $name)
    #if (!$name) #set ($name = "") #end
    #if (!$name.isEmpty() && $name.split("/").size()>0) #set ($name = $name.split("/")[0]) #end
    #if ($names && !$names.isEmpty() && $names.split("/").size()>1) #set ($empId = $names.split("/")[1]) #end

    #if ($template)
        #set ($value = $template.replace("%s", $name))
    #else
        #set ($value = $name)
    #end
    #noescape()
    #if($empId)
        <a href='https://work.alibaba-inc.com/work/u/$empId' target='_blank'>$value</a>
    #else
         <a href='https://work.alibaba-inc.com/work/search?keywords=$name&type=person' target='_blank'>$name</a>
    #end
    #end
#end