<table style="width: 100%;padding: 0px;margin: 0px;" id="pageBarTable">
    <tr>
        <td align="left" id="pageBarLeft"><h5>
            每页显示<select  id="select_pageSize" >

            </select>条,当前第<span id="currentPage" style="color: red"></span>页,

            共<span id="totalPages" style="color: red"></span>页，
            总计<span id="totalRecordsNum" style="color: red"></span>条</td>
        <td align="right" id="pageBarRight">
            <ul class="pagination" style="margin:0px;">
            </ul>
        </td>
    </tr>
</table>
<script src="/assets/js/application/common/page.js" charset="utf-8"></script>
