
.fullSlide * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.fullSlide img {
    border: 0;
}

.fullSlide a {
    text-decoration: none;
    color: #333;
}

.fullSlide a:hover {
    color: #1974A1;
}

.fullSlide {
    width: 100%;
    position: relative;
    height: 280px;
    background: #000;
}

.fullSlide .bd {
    margin: 0 auto;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.fullSlide .bd ul {
    width: 100% !important;
}

.fullSlide .bd li {
    width: 100% !important;
    height: 280px;
    overflow: hidden;
    text-align: center;
}

.fullSlide .bd li a {
    display: block;
    height: 280px;
}

.fullSlide .hd {
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    height: 30px;
    line-height: 30px;
}

.fullSlide .hd ul {
    text-align: center;
}

.fullSlide .hd ul li {
    cursor: pointer;
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 42px;
    height: 11px;
    margin: 1px;
    overflow: hidden;
    background: #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
    line-height: 999px;
}

.fullSlide .hd ul .on {
    background: #f00;
}

.fullSlide .prev, .fullSlide .next {
    display: block;
    position: absolute;
    z-index: 1;
    top: 50%;
    margin-top: -30px;
    left: 5%;
    z-index: 1;
    width: 40px;
    height: 60px;
    background: url(/assets/imags/student/slide/slider-arrow.png) -126px -137px #000 no-repeat;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: 0.5;
    display: none;
}

.fullSlide .next {
    left: auto;
    right: 5%;
    background-position: -6px -137px;
}