<div class="modal fade" id="csSubmitModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <span class="glyphicon glyphicon-paperclip"></span>
                <span style="font-weight:bold;font-size: 13px;">提交修改集</span>
            </div>
            <form class="form-horizontal" role="form" id="csSubmitForm" name="csSubmitForm">

                $!csrfToken.hiddenField
                <input name="id" type="hidden"/>

                <div class="modal-body" style="padding: 2px;padding-top:0px;">
                    <table class="table" style="width: 99%;padding: 0px;">
                        <tbody>
                        <tr>
                            <td align="right" style="width:18%;">
                                当前分支：
                            </td>
                            <td align="left">
                                <input name="branch" id="branch" type="text" style="width: 80%;" readonly/>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" style="width:18%;">
                                当前修改集：
                            </td>
                            <td align="left">
                                <input name="cs" id="cs" type="text" style="width: 80%;" readonly/>
                            </td>
                        </tr>
##                        <tr>
##                            <td align="right" style="width:20%;">
##                                是否创建快照：
##                            </td>
##                            <td align="left">
##                                <div class="radio">
##                                    <label>
##                                        <input type="radio" name="isCreateSnap" value="true"
##                                               checked ">
##                                        是
##                                    </label>
##                                    <label>
##                                        <input type="radio" name="isCreateSnap" value="false" " >
##                                        否
##                                    </label>
##                                </div>
##
##                            </td>
##                        </tr>
##                        <tr id="createSnapTr">
##                            <td align="right" style="width:20%;">
##                                自定义快照名：
##                            </td>
##                            <td align="left">
##                                <div class="radio">
##                                    <label>
##                                        <input type="radio" name="isDefineSnapName" id="defaultChecked" value="true"
##                                               checked ">
##                                        是
##                                    </label>
##                                    <label>
##                                        <input type="radio" name="isDefineSnapName" value="false" " >
##                                        否
##                                    </label>
##                                </div>
##
##                            </td>
##                        </tr>
##                        <tr id="snapTr">
##                            <td align="right" style="width:18%;">
##                                快照名：
##                            </td>
##                            <td align="left">
##                                <input name="snap" id="snap" type="text" style="width: 80%;"/>
##                            </td>
##                        </tr>
##                        <tr id="defalutsnapTr" style="display: none;">
##                            <td align="right" style="width:18%;">
##                                系统默认快照：
##                            </td>
##                            <td align="left">
##                                <input name="snap" id="snap" type="text" value=" 时间格式,例如: snap_20151102093903" style="width: 80%;" readonly/>
##                            </td>
##                        </tr>

                        </tbody>
                    </table>


                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-sm btn-success"
                            id="btnSubmitCs"><span
                            class="glyphicon glyphicon-saved"></span>&nbsp;提交
                    </button>
                </div>
            </form>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->


</div>

<script>
//    $(function () {
//        $("#csSubmitForm input[name='isCreateSnap']").change(function () {
//
//            var value = $(this).val();
//            if(value=='true'){
//                $("#createSnapTr").show();
//                $("#snapTr").show();
//                $("#defalutsnapTr").hide();
//                $("#defaultChecked").get(0).checked= true;
//            }else{
//                $("#createSnapTr").hide();
//                $("#snapTr").hide();
//                $("#defalutsnapTr").hide();
//
//            }
//        });
//        $("#csSubmitForm input[name='isDefineSnapName']").change(function () {
//            var value = $(this).val();
//            if(value=='true'){
//                $("#snapTr").show();
//                $("#defalutsnapTr").hide();
//            }else{
//                $("#defalutsnapTr").show();
//                $("#snapTr").hide();
//            }
//
//        });
//
//
//    });
</script>