<style>

    .cs,.description {
        border: 2px solid #a1a1a1;
        padding: 5px 20px;
        border-radius: 5px;
        -moz-border-radius: 5px; /* 老的 Firefox */
        margin: 2px;
        min-width: 220px;
        background: #fff6c2;
    }
    .pre{
        border: 2px solid #a1a1a1;
        padding: 2px 10px;
        border-radius: 25px;
        -moz-border-radius: 5px; /* 老的 Firefox */
        margin: 2px;
    }
</style>
<div class="modal fade" id="solveConflictModal" tabindex="-2" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <span class="glyphicon glyphicon-paperclip"></span>
                <span style="font-weight:bold;font-size: 13px;">冲突解决</span>
            </div>
            <form class="form-horizontal" role="form" id="solveConflictForm" name="solveConflictForm">
                <div id="mainFrame" class="modal-body table-responsive" style="padding: 8px;">
                    <input type="hidden" name="table"/>
                    <input type="hidden" name="kv"/>
                    <input type="hidden" name="changeset"/>
                    <table style="height:600px; width: 100%" class="table table-bordered">
                        <tr style="height: 20px">
                            <th style="width: 50%" class="cs"><span style="float: left">当前修改集</span></th>
                            <th style="width: 50%" class="cs"><span style="float: right">待合并修改集</span></th>
                        </tr>
                        <tr style="height: 70px">
                            <td style="width: 50%;">
                                <div style="display: inline">
                                    <pre class="pre"><span>操作人:</span><input type="text" id="leftOperator" style="float: right"/></pre>
                                    <pre class="pre"><span>操作时间:</span><input type="text" id="leftOperateTime" style="float: right"/></pre>
                                    <pre class="pre"><span>操作类型:</span><input type="text" id="leftOperateType" style="float: right"/></pre>

                                </div>
                            </td>
                            <td style="width: 50%;">
                                <div style="display: inline">
                                    <pre class="pre"><input type="text" id="rightOperator"/><span style="float: right">:人作操</span></pre>
                                    <pre class="pre"><input type="text" id="rightOperateTime"/><span style="float: right">:间时作操</span></pre>
                                    <pre class="pre"><input type="text" id="rightOperateType"/><span style="float: right">:型类作操</span></pre>

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 50%; height: 300px"><div style="width: 100%;height: 100%" id="left"></div>
                            </td>
                            <td style="width: 50%;height: 300px"><div style="width: 100%; height: 100%" id="right"></div>
                            </td>
                        </tr>
                        <tr style="height: 20px">
                            <td colspan="2">
                                <span style="color: red" class="pre">解决类型:</span>
                                <input type="radio" name="solveType" id="deleteR" value="deleteR" style="margin-left: 30px">
                                    <span class="glyphicon glyphicon-minus-sign" style="color: red">删除</span>
                                </input>
                                <input type="radio" name="solveType"  id="editR" value="editR" style="margin-left: 30px">
                                    <span class="glyphicon glyphicon-pencil" style="color: green">编辑</span>
                                </input>
                            </td>
                        </tr>
                        <tr style="height: 300px;display: none" id="editTr">

                            <td style="width: 100%" colspan="2">
                                <span style="font-size: larger;width: 10%;height: 5%">编辑内容:</span>
                                <div style="width: 90%; height: 95%;" id="mergeResult"></div>
                            </td>
                        </tr>
                    </table>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-success" id="btnSolveConflict"><span
                                class="glyphicon glyphicon-retweet"></span>&nbsp;提交
                        </button>
                    </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>
<script>
    $(function () {
        $("#deleteR").click(function () {
            $("#editTr").hide();
        });
        $("#editR").click(function () {
            $("#editTr").show();
        });
    });
</script>

