#if($!{type} =="conflict")

    #set($navInfo="<!--数据版本--><a href='/list/versionList.htm?&ns=$!ns'>$!ns</a> $gt; <a
            href='/list/csList.htm?&ns=$!ns&branch=$!branch'>$!branch</a>")
#else
    #set($navInfo="<!--数据版本--><a href='/list/versionList.htm?&ns=$!ns'>$!ns</a> &gt; <a
            href='/list/csList.htm?&ns=$!ns&branch=$!branch'>$!branch</a>")
#end

##parse("/control/list/navInfo.vm")
<style>
    #branchChangeList th, #branchChangeList td {
        text-align: center;
    }

    .modal {
        text-align: center;
    }

    @media screen and (min-width: 768px) {
        .modal:before {
            display: inline-block;
            vertical-align: middle;
            content: " ";
            height: 100%;
        }
    }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }

    .ellipsisSpan {
        text-overflow: ellipsis;
        position: relative;
        max-width: 60px;
        overflow: hidden;
        white-space: nowrap;
        display: inline-block;
        top: 5px;
    }

    .lineItem {
        margin-right: 30px;
    }
</style>

<div class="row after-box panel panel-default  scrollBar"
     style="min-width:960px;margin-top: 10px;margin-left: 15px; margin-right: 15px;padding: 5px;">

    <div class="panel-heading">
        <b><a href="/list/versionList.htm">分支列表</a></b>
        &gt;
        <a href="/list/opLogList.htm?branch=$!{rundata.parameters.branch}">
            <b>分支</b>
            $!{rundata.parameters.branch}
        </a>

        <div class="panel-body">

            <div class="panel panel-success">
                <div class="panel-body">

                    <div>
                        <label for="branch">分支:</label>
                        <span id="branch" class="lineItem">$!{branch}</span>
                        <label for="parentCs">分支修改集链:</label>
                        <a><span id="parentCs" class="glyphicon glyphicon-eye-open"></span></a>
                    </div>
                    <div>


                        <label for="creator">起始修改集:</label>
                        <a href="/list/changeList.htm?branch=$!{branch}&cs=$!{startCs}" ><span id="startCs" class="lineItem ellipsisSpan">$!{startCs}</span></a>
                        <label for="creator">结束修改集:</label>
                        <a href="/list/changeList.htm?branch=$!{branch}&cs=$!{endCs}" ><span id="endCs" class="lineItem ellipsisSpan">$!{endCs}</span></a>
                    </div>

                </div>
            </div>
            <!--记录显示开始-->
            <div class="panel panel-warning  scrollBar" style="margin-top: 10px">
                <div class="panel-heading">分支记录变更
                </div>
                <div class="panel-body" id="branchChangeList">

                </div>


            </div>
            #parse("/control/list/page.vm")

        </div>
    </div><!--end container-->

    #parse("/control/modal/headerModal.vm")
    #parse("/control/modal/recordDetailJsonModal.vm")
    #parse("/control/modal/solveConflictModal.vm")
    <script src="/assets/js/lib/jquery.blockUI.js" charset="UTF-8"></script>

    <script src="/assets/js/ace/ace.js" charset="utf-8"></script>

    <script src="/assets/js/application/ops/branchChangeList.js" charset="UTF-8"></script>
