#set($asideTab="课程管理")
<link href="/assets/css/lib/zTreeStyle/metroStyle.css" rel="stylesheet" type="text/css"/>
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="/assets/css/lib/dataTables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css"/>
<link href="/assets/css/lib/dataTables/datatables.min.css" rel="stylesheet" type="text/css"/>
<link href="/assets/css/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet"
      type="text/css"/>

<link href="/assets/css/lib/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css"/>
<link href="/assets/css/lib/fancybox/source/jquery.fancybox.css" rel="stylesheet" type="text/css"/>
<link href="/assets/css/app/student/bootstrap-fileinput.css" rel="stylesheet" type="text/css"/>

<!-- END PAGE LEVEL PLUGINS -->
<div class="page-container">
    #parse("/control/list/aside.vm")
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal form-row-seperated" method="post" enctype="multipart/form-data">
                        $csrfToken.hiddenField
                        <div class="portlet">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-edit"></i>新增课程
                                </div>
                                <div class="actions btn-set">
                                    <button type="button" name="back" class="btn btn-secondary-outline">
                                        <i class="fa fa-angle-left"></i> 返回
                                    </button>
                                    <button class="btn btn-secondary-outline">
                                        <i class="fa fa-reply"></i> 重置
                                    </button>
                                    <button class="btn btn-success">
                                        <i class="fa fa-check"></i> 保存
                                    </button>
                                    <button class="btn btn-success">
                                        <i class="fa fa-check-circle"></i> 保存当前编辑
                                    </button>
                                    <div class="btn-group">
                                        <a class="btn btn-success dropdown-toggle" href="javascript:;"
                                           data-toggle="dropdown">
                                            <i class="fa fa-share"></i> 更多
                                            <i class="fa fa-angle-down"></i>
                                        </a>
                                        <div class="dropdown-menu pull-right">
                                            <li>
                                                <a href="javascript:;"> Duplicate </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;"> Delete </a>
                                            </li>
                                            <li class="dropdown-divider"></li>
                                            <li>
                                                <a href="javascript:;"> Print </a>
                                            </li>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="tabbable-bordered">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#tab_general" data-toggle="tab"> 基本信息 </a>
                                        </li>
                                        <li>
                                            <a href="#tab_images" data-toggle="tab"> 图片 </a>
                                        </li>
                                        <li>
                                            <a href="#tab_meta" data-toggle="tab"> 元信息 </a>
                                        </li>

                                    ##
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab_general">
                                            <div class="form-body">
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">课程名:
                                                        <span class="required"> * </span>
                                                    </label>
                                                    <div class="col-md-10">
                                                        <input type="text" class="form-control" name="course[name]"
                                                               placeholder=""></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">详细描述:
                                                        <span class="required"> * </span>
                                                    </label>
                                                    <div class="col-md-10">
                                                        <textarea class="form-control"
                                                                  name="course[description]"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">简短描述:
                                                        <span class="required"> * </span>
                                                    </label>
                                                    <div class="col-md-10">
                                                        <textarea class="form-control"
                                                                  name="course[shortDesc]"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">课程分类:
                                                        <span class="required"> * </span>
                                                    </label>
                                                    <div class="col-md-10">
                                                        <div class="form-control height-auto">
                                                            <div class="scroller" style="height:275px;"
                                                                 data-always-visible="1">
                                                                <ul id="courseCategoryTree" class="ztree"></ul>

                                                                <input type="hidden" id="courseCategoryIDs" name="courseCategoryIDs">
                                                            </div>
                                                        </div>
                                                        <span class="help-block"> 选择一或多个分类</span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">学分:

                                                    </label>
                                                    <div class="col-md-10">
                                                        <input type="text" class="form-control" name="course[credit]"
                                                               placeholder=""></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">课时:
                                                    </label>
                                                    <div class="col-md-10">
                                                        <input type="text" class="form-control" name="course[hours]"
                                                               placeholder=""></div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab_meta">
                                            <div class="form-body">
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">Meta Title:</label>
                                                    <div class="col-md-10">
                                                        <input type="text" class="form-control maxlength-handler"
                                                               name="course[meta_title]" maxlength="100"
                                                               placeholder="">
                                                        <span class="help-block"> max 100 chars </span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">Meta Keywords:</label>
                                                    <div class="col-md-10">
                                                        <textarea class="form-control maxlength-handler" rows="8"
                                                                  name="course[meta_keywords]"
                                                                  maxlength="1000"></textarea>
                                                        <span class="help-block"> max 1000 chars </span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">Meta Description:</label>
                                                    <div class="col-md-10">
                                                        <textarea class="form-control maxlength-handler" rows="8"
                                                                  name="course[meta_description]"
                                                                  maxlength="255"></textarea>
                                                        <span class="help-block"> max 255 chars </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab_images">
                                            <div class="alert alert-success margin-bottom-10">
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-hidden="true"></button>
                                                <i class="fa fa-warning fa-lg"></i> 照片格式png,大小 300px * 300px.
                                            </div>

                                            <div class="form-body">
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">详细描述:
                                                        <span class="required"> * </span>
                                                    </label>
                                                    <div class="col-md-10">
                                                        <textarea class="form-control"
                                                                  name="course[description]"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">图片:
                                                        <span class="required"> * </span>
                                                    </label>
                                                    <div class="fileinput fileinput-new col-md-10"
                                                         data-provides="fileinput">
                                                        <div class="fileinput-new thumbnail"
                                                             style="width: 200px; height: 150px;">
                                                            <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image"
                                                                 alt=""/></div>
                                                        <div class="fileinput-preview fileinput-exists thumbnail"
                                                             style="max-width: 200px; max-height: 150px;"></div>
                                                        <div>
                                                            <span class="btn default btn-file">
                                                            <span class="fileinput-new"> 选择 </span>
                                                            <span class="fileinput-exists"> 更换 </span>
                                                            <input type="file" name="file"> </span>
                                                            <a href="javascript:;" class="btn default fileinput-exists"
                                                               data-dismiss="fileinput"> 删除
                                                            </a>
                                                        </div>
                                                    </div>
                                                ##                                                            <div class="clearfix margin-top-10">
                                                ##                                                                <span class="label label-danger"> NOTE! </span>
                                                ##                                                                <span> Attached image thumbnail is supported in Latest Firefox, Chrome, Opera, Safari and Internet Explorer 10 only </span>
                                                ##                                                            </div>
                                                </div>
                                                <div class="margin-top-10">
                                                    <a href="javascript:;" class="btn green"> 保存 </a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="action" value="courseAddAction"/>
                    </form>
                </div>
            </div>
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
</div>
<!-- BEGIN PAGE -->

<script src="/assets/js/lib/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script>
<script src="/assets/js/lib/plupload/js/plupload.full.min.js" type="text/javascript"></script>
<script src="/assets/js/app/teacher/datatable.js" type="text/javascript"></script>
<script src="/assets/js/lib/datatables/datatables.min.js" type="text/javascript"></script>
<script src="/assets/js/lib/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<script src="/assets/js/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js" type="text/javascript"></script>
<script src="/assets/js/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="/assets/js/lib/bootstrap-maxlength/bootstrap-maxlength.min.js" type="text/javascript"></script>
<script src="/assets/js/lib/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script>
<script src="/assets/js/app/student/bootstrap-fileinput.js" type="text/javascript"></script>

<!-- END PAGE LEVEL PLUGINS -->


<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/assets/js/lib/ztree/jquery.ztree.all.min.js" type="text/javascript"></script>
<script src="/assets/js/app/teacher/course-edit.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
