<div id="nav" class="container"
     style="width:1198px;min-height:480px;margin-bottom:0px;padding: 0px;margin-left: auto;margin-right: auto;">
    <table class="table table-bordered" style="width: 100%;height:39px;padding: 0px;">
        <tbody>
        <tr>
            <td style="height: 39px;color: red;">
                目前您还没有访问该模块权限！这是管理员模块...<br/><br/> <a href="#" class="btn btn-success btn-xs"> <span class="glyphicon glyphicon-ban-circle"></span></a>请联系超级管理员添加为管理员。
            </td>
        </tr>
        <tr>
            <td style="height: 39px;color: red;">
                <span id="noPermitionInfo"> </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>

