#set($navInfo="论坛")
<link rel="stylesheet" href="/assets/css/app/bbs/highlight/styles/default.css"/>
<link rel="stylesheet" href="/assets/css/app/bbs/highlight/styles/github.css"/>
<script src="/assets/css/app/bbs/highlight/highlight.pack.js"></script>
<script>
    var comment_members = [];
</script>
<div class="container" >
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default topic-detail-heading">
                <div class="panel-heading pb0">
                    <div class="pull-right">
                        <a href="$!topicDetails.topicVO.userID" title="$!topicDetails.topicVO.user">
                            <img class="avatar avatar-sm img-circle" src="$!topicDetails.topicVO.userAvatar">
                        </a>
                    </div>
                    <p><a href="/bbs/">论坛首页</a> / $!{topicDetails.topicCategory} <a
                            href="$!{topicDetails.topicVO.topicCategory}">$!{topicDetails.topicVO.topicCategory}</a></p>
                    <h1 class="panel-title">$!{topicDetails.topicVO.title}</h1>
                    <p class="mt5">
                        <small class="text-muted">
                            <span>by <a href="#">$!{topicDetails.topicVO.user}</a></span>&nbsp;•&nbsp;
                            <span>${dateUtils.format("yyyy-mm-dd :hh:mm:ss",$!{topicDetails.topicVO.createTime})}</span>
                            #if($user)
                                &nbsp;&nbsp;&nbsp;<span><a href="javascript:void(0);" tid="${topic.tid}" class="sinks" alt="下沉" title="下沉"><i class="fa fa-sort-desc" aria-hidden="true"></i></a></span>
                                #if($!topicDetails.topicVO.userID.equals($user.ID()))
                                    &nbsp;•&nbsp;&nbsp;<span><a href="/bbs/list/topicEdit.htm?topicID=$!topicDetails.topicVO.id">编辑</a></span>
                                #end
                            #end
                        </small>
                    </p>
                </div>
                <div class="panel-body topic-detail">
                    ${topicDetails.content}
                </div>
                #if($user)
                    <div class="panel-footer topic-footer">
                        <div class="pull-left left">
                            #if($favorite)
                                <div class="heart heartRed" id="like_topic" tid="$!topicDetails.topicVO.id" rel="unFavorite"></div>
                            #else
                                <div class="heart " id="like_topic" tid="$!topicDetails.topicVO.id" rel="favorite"></div>
                            #end
                            <span class="likeCount" id="likeCount">${topicDetails.topicVO.topicStat.favorites}</span>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <span><a>分享到：</a><a href="javascript:void(0);" class="share-weibo"><i class="fa fa-weibo"
                                                                                                  aria-hidden="true"></i></a></span>
                        </div>

                        <div class="pull-right right">
                            <span class="text-muted">$!{topicDetails.topicVO.topicStat.views}次点击&nbsp;•&nbsp;</span>
                            <span class="text-muted">$!{topicDetails.topicVO.topicStat.bookmarks}人收藏</span>

                            #if($bookmark)
                                <a class="follow" tid="$!topicDetails.topicVO.id" rel="unBookmark" role="button" href="javascript:void(0);">&nbsp;•&nbsp;
                                    <small class="text-muted">取消收藏</small>
                                </a>
                            #else
                                <a class="follow" tid="$!topicDetails.topicVO.id" rel="bookmark" role="button" href="javascript:void(0);">&nbsp;•&nbsp;
                                    <small class="text-muted">加入收藏</small>
                                </a>
                            #end

                            #if($user && $user_user.role_id < 3)
                                #if($topic.is_essence == 0)
                                    <a class="essence" tid="${topic.tid}" role="button" href="javascript:void(0);">
                                        &nbsp;•&nbsp;
                                        <small class="text-muted ">加精</small>
                                    </a>
                                #else
                                    <a class="essence" tid="${topic.tid}" role="button" href="javascript:void(0);">
                                        &nbsp;•&nbsp;
                                        <small class="text-muted ">取消加精</small>
                                    </a>
                                #end
                                <a class="deltopic" tid="${topic.tid}" role="button" href="javascript:void(0);">&nbsp;•&nbsp;
                                    <small class="text-muted ">删帖</small>
                                </a>
                            #end
                        </div>
                    </div>
                #end
            </div><!-- /.panel content -->

            #if($topicDetails.comments && $topicDetails.comments.size>0 )
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span>$!{topic.comment} 回复 | 直到</span>
                    </div>
                    <div class="panel-body">
                        <ul class="media-list comment-list">
                            #foreach($comment in $topicDetails.comments)
                                <li class="media" id="Reply$velocityCount">
                                    <a href="javascript:void(0);" alt="${comment.user}"
                                       class="pull-right text-muted at-user">
                                        <i class="fa fa-mail-forward"></i> #${velocityCount}
                                    </a>
                                    <a class="media-left" href="#">
                                        <img class="avatar avatar-sm img-circle" src="${comment.userAvatar}" alt="点我让你嘿嘿"/>
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading topic-list-heading">
                                            <a href="#">
                                                ${comment.user}
                                                #if($comment.role_id <= 3)
                                                    &nbsp;<i class="fa fa-slideshare"></i>
                                                #end
                                            </a>
                                            &nbsp;&nbsp;
	                                <span class="meta-span">
	                                	$dateUtils.format("yyyy-MM-dd HH:mm:ss",$comment.gmtCreate)
	                                </span>
                                        </h4>
                                        ${comment.content}
                                    </div>
                                </li>
                                <hr class="smallhr">
                                <script>comment_members.push('${comment.user}');</script>
                            #end
                        </ul>
                    </div>
                </div><!-- /.panel comment -->
            #end

            <div class="panel panel-default" id="Reply">
                <div class="panel-heading">
                    <span>添加一条新回复</span>
                    <p class="pull-right mr5">
                        <span><a href="#">回到顶部 <i class="fa fa-angle-double-up fa-fw"></i></a></span>
                    </p>
                </div>
                <div class="panel-body">
                    #if($user)
                        <form id="comment-form" onsubmit="return topic.comment();" class="form-horizontal" role="form"
                              method="post">
                            <input type="hidden" name="topicID" value="${topicDetails.topicVO.id}">
                            <div class="mb10">
	                        <textarea id="content" class="inputor form-control textarea-control-comment"
                                      name="content" rows="4" placeholder="对楼主说点儿什么吧.." required="required"></textarea>
                            </div>
                            <div class="pull-right">
                                <button type="submit" class="btn btn-success ladda-button" data-style="zoom-out">回复
                                </button>
                            </div>
                        </form>
                        #parse("/control/list/emoji.vm")
                    #else
                        <div class="well text-center">
                            <a href="/form/loginAndRegister.htm">注册</a> 参与讨论 or <a
                                href="/form/loginAndRegister.htm">登录</a>
                        </div>
                    #end
                </div>
            </div><!-- /.panel add comment -->
        </div><!-- /.col-md-8 -->
        $control.setTemplate("sidebar.vm")
    </div>
</div>
<script>hljs.initHighlightingOnLoad();</script>
