<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.X.dal.mapper.CommentMapper">
    <resultMap id="commentResultMap" type="CommentDO">
        <id property="id" column="id"/>
        <result property="topicID" column="topic_ID"/>
        <result property="userID" column="user_ID"/>
        <result property="userRole" column="user_role"/>
        <result property="content" column="content"/>
        <result property="status" column="status"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
    </resultMap>
    <insert id="save" parameterType="CommentDO" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into X_comment(topic_ID,
        user_ID,
        user_role,
        content,
        gmt_create)
        VALUES (#{topicID},
        #{userID},
        #{userRole},
        #{content},
        #{gmtCreate})
    </insert>

    <select id="queryCommentsByTopicID" parameterType="long" resultMap="commentResultMap">
        SELECT *
        from X_comment
        WHERE topic_ID = #{topicID}
    </select>

    <select id="countCommentsByTopicID" resultType="Long">
        SELECT count(*) num
        from X_comment
        WHERE topic_ID = #{topicID}
    </select>
</mapper>