<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.X.dal.mapper.CourseAndCategoryMapper">
    <select id="queryCoursesByCategory" parameterType="String"
            resultMap="courseResultMap">
        select course.*
        from  X_course course JOIN X_course_and_category courseAndCategory  ON course.id=courseAndCategory.course_ID
        JOIN X_course_category category ON courseAndCategory.category_ID = category.id
        where category.name=#{category}
        limit ${start},${length}
    </select>

    <select id="countCourseSizeByCategory" parameterType="Long" resultType="Long">
        select count(*) num
        from X_course_and_category courseAndCategory
        where courseAndCategory.category_ID = #{categoryID}
    </select>
    <insert id="save" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into X_course_and_category(
        course_ID,
        category_ID,
        gmt_create)values(
        #{courseID},
        #{categoryID},
        #{gmtCreate})
    </insert>

    <insert id="saveList" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="List">
        insert into X_course_and_category(
        course_ID,
        category_ID,
        gmt_create)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.courseID},
            #{item.categoryID},
            #{item.gmtCreate}
            )
        </foreach>

    </insert>


    <resultMap id="courseAndCategoryResultMap" type="CourseAndCategoryDO">
        <id property="id" column="id"/>
        <result property="courseID" column="course_ID"/>
        <result property="categoryID" column="category_ID"/>
        <result property="status" column="status"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
    </resultMap>
    <resultMap id="courseResultMap" type="CourseDO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="shortDesc" column="short_desc"/>
        <result property="pictureID" column="picture_ID"/>
        <result property="courseHours" column="course_hours"/>
        <result property="courseCredit" column="course_edit"/>
        <result property="status" column="status"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
    </resultMap>
</mapper>