<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.X.dal.mapper.GrantCreditMapper">
    <select id="queryGrantByID" parameterType="Long" resultMap="grantCreditResultMap">
        select *
        from  X_grant_credit t
        where t.id = #{id}
    </select>

    <select id="queryAllGrants" resultMap="grantCreditResultMap">
        select *
        from  X_grant_credit t
    </select>

    <select id="queryGrantsByStudentID" resultMap="grantCreditResultMap">
        select *
        from  X_grant_credit t
        WHERE t.student_ID = #{studentID}
    </select>

    <insert id="save" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into X_grant_credit(
        rules,
        student_ID,
        creator,
        scores,
        description,
        gmt_create)values(
        #{rules},
        #{studentID},
        #{creator},
        #{scores},
        #{description},
        #{gmtCreate})
    </insert>


    <!--报表展示-->
    <select id="yearReport" resultMap="creditReportResultMap">
        select DATE_FORMAT(gmt_create,'%Y') `time`,SUM(scores)  scores from X_grant_credit
        WHERE student_ID=#{studentID}
        group by `time`;
    </select>
    <select id="monthReport" resultMap="creditReportResultMap">
        select DATE_FORMAT(gmt_create,'%Y-%m') `time`,SUM(scores) scores from X_grant_credit t
        WHERE #{toMonth}>=gmt_create and gmt_create>=#{fromMonth} and student_ID=#{studentID}
        group by `time`
    </select>
    <select id="dayReport" resultMap="creditReportResultMap">
        select DATE_FORMAT(gmt_create,'%Y-%m-%d') `time`,SUM(scores) scores from X_grant_credit
        WHERE #{toDay}>=gmt_create AND gmt_create>=#{fromDay} and student_ID=#{studentID}
         group by `time`;
    </select>

    <resultMap id="grantCreditResultMap" type="GrantCreditDO">
        <id property="id" column="id"/>
        <result property="rules" column="rules"/>
        <result property="studentID" column="student_ID"/>
        <result property="scores" column="scores"/>
        <result property="creator" column="creator"/>
        <result property="description" column="description"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
    </resultMap>

    <resultMap id="creditReportResultMap" type="CreditReportDO">
        <result property="time" column="time"/>
        <result property="scores" column="scores"/>
    </resultMap>

</mapper>