<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.X.dal.mapper.TopicMapper">
    <resultMap id="topicResultMap" type="TopicDO">
        <id property="id" column="id"/>
        <result property="userID" column="user_id"/>
        <result property="userRole" column="user_role"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="keyWords" column="key_words"/>
        <result property="weight" column="weight"/>
        <result property="status" column="status"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
    </resultMap>
    <insert id="save" parameterType="TopicDO" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT into `X_topic`(`user_id`,`user_role`,`title`,`content`,`key_words`,`weight`,`status`,`gmt_create`)
        VALUES (#{userID},#{userRole},#{title},#{content},#{keyWords},#{weight},#{status},#{gmtCreate})
    </insert>

    <select id="queryTopicsWithPage" resultMap="topicResultMap">
        SELECT *
        FROM `X_topic`
        WHERE category_id = (select id from X_top_category t WHERE  t.name_en = #{topicCategory})
            limit ${offSet},${rowCount}
  </select>

</mapper>