#set($navInfo="关于")

<!-- BEGIN PAGE LEVEL STYLES -->
<link href="/assets/css/app/student/about.css" rel="stylesheet" type="text/css"/>
<!-- END PAGE LEVEL STYLES -->
<link rel="shortcut icon" href="favicon.ico"/>
<style>
    .card-description{
        text-align: center;
    }
</style>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <!-- BEGIN PAGE CONTENT BODY -->
        <div class="page-content">
            <div class="container">

                <!-- BEGIN PAGE CONTENT INNER -->
                <div class="page-content-inner">
                    <!-- BEGIN CONTENT HEADER -->
                    <div class="row margin-bottom-40 about-header">
                        <div class="col-md-12">
                            <h1>关于我</h1>
                            <h2>科技引领时尚,技术成就未来!</h2>
                            <a class="btn btn-danger" href="https://github.com/donahue-ldz/X">JOIN ME TODAY</a>
                        </div>
                    </div>
                    <!-- END CONTENT HEADER -->
                    <!-- BEGIN CARDS -->
                    <div class="row margin-bottom-20">
                        <div class="col-lg-3 col-md-6">
                            <div class="portlet light">
                                <div class="card-icon">
                                    <i class="icon-graph font-red-sunglo theme-font"></i>
                                </div>
                                <div class="card-title">
                                    <span> 积分制 </span>
                                </div>
                                <div class="card-description">
                                            <span> 积分生态.福利生活
                                                <br> 全面发展,电子化档案</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="portlet light">
                                <div class="card-icon">
                                    <i class="icon-trophy font-green-haze theme-font"></i>
                                </div>
                                <div class="card-title">
                                    <span> 网络教育</span>
                                </div>
                                <div class="card-description">
                                            <span> 传统教育的缺点由网络来弥补
                                                <br> 只求教育永恒,学习终生 </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="portlet light">
                                <div class="card-icon">
                                    <i class="icon-grid font-purple-wisteria theme-font"></i>
                                </div>
                                <div class="card-title">
                                    <span> 多端统一 </span>
                                </div>
                                <div class="card-description">
                                            <span> 响应式,跨浏览器
                                                <br> 多端统一,自动适配 </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="portlet light">
                                <div class="card-icon">
                                    <i class="icon-layers font-blue theme-font"></i>
                                </div>
                                <div class="card-title">
                                    <span> 运维系统 </span>
                                </div>
                                <div class="card-description">
                                            <span> 完备的运维系统
                                                <br> 全方位运维管理,可视化分析 </span>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <!-- END PAGE CONTENT BODY -->
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->

</div>