#set($navInfo="修改集变更内容")
#parse("/control/list/navInfo.vm")
<link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
<style>
    #changeList th,#changeList td {
        text-align: center;
    }

<div class="row"
     style="min-width:960px;margin-top: 70px;margin-left: 15px; margin-right: 15px;padding: 5px;">

    <div class="panel panel-success">
        <div class="panel-body">

            <div>
                <label for="cs">修改集:</label>
                <span id="cs">$!{csVO.name}</span>

                <label for="cs" style="margin-left: 50px">Parent:</label>
                <a href='/list/changeList.htm?ns=$!{ns}&branch=$!{branch}&cs=$!{csVO.changeSet.parent}'>
                    <span id="cs">$!{csVO.changeSet.parent}</span>
                </a>
            </div>
            <div>
                <label for="cs" >创建人:</label>
                <span id="cs" >$!{csVO.creator}</span>
            </div>
            <div class="form">
                <label for="ns" >命名空间:</label>
                <span id="ns">$!{ns}</span>

                <label for="branch" style="margin-left: 50px">分支:</label>
                <a><span id="branch">$!{branch}</span></a>

            </div>
        </div>
    </div>
    <!--记录显示开始-->
    <div class="panel panel-warning  scrollBar" style="margin-top: 10px">
        <div class="panel-heading">变更记录
        </div>
        <div class="panel-body" id="changeList">

        </div>


    </div>

</div><!--end container-->

#parse("/control/modal/headerModal.vm")
#parse("/control/modal/recordDetailJsonModal.vm")

<script src="/assets/js/ace/ace.js" charset="utf-8"></script>

<script src="/assets/js/application/ops/changeList.js" charset="UTF-8"></script>
