#set($navInfo="课程")
<style>
    .content .row {
        margin-bottom: 20px;
    }
</style>
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="/assets/css/app/student/course.css" rel="stylesheet" type="text/css"/>
<!-- END PAGE LEVEL STYLES -->

<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->

        <!-- BEGIN PAGE CONTENT BODY -->
        <div class="page-content">
            <div class="container">
                <!-- BEGIN PAGE CONTENT INNER -->
                <div class="page-content-inner">
                    <div class="inbox">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="inbox-sidebar">
                                    <a href="javascript:;" data-title="Compose" class="btn red btn-block">
                                        <i class="fa fa-all"></i> 所有 </a>
                                    <ul class="inbox-nav">
                                        <li class="active">
                                            <a href="javascript:;" data-type="inbox" data-title="Inbox"> 文学
                                                <span class="badge badge-success">9</span>
                                            </a>
                                        </li>
                                        #foreach($categoryWrapper in $categories)
                                            #if(!$categoryWrapper.courseCategory.name.equals("所有"))

                                                <li>
                                                    <a href="javascript:;" data-type="inbox"
                                                       data-title="Inbox"> $!categoryWrapper.courseCategory.name
                                                        <span class="badge badge-success">$!categoryWrapper.courseSize</span>
                                                    </a>
                                                </li>
                                            #end
                                        #end

                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="inbox-body">
                                    <div class="inbox-header">
                                        <h3 class="pull-left">课程</h3>
                                        <form class="form-inline pull-right" action="/common/comeSoon.htm">
                                            <div class="input-group input-medium">
                                                <input type="text" class="form-control" placeholder="课程">
                                                        <span class="input-group-btn">
                                                            <button type="submit" class="btn green">
                                                                <i class="fa fa-search"></i>
                                                            </button>
                                                        </span>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="content">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="mt-widget-2">
                                                ##                                                ##课程照片
                                                    <div class="mt-head"
                                                         style="background-image: url(/assets/imags/student/course/course1.png);">
                                                        <div class="mt-head-user">
                                                            <div class="mt-head-user-img">
                                                            ##teacher 照片
                                                                <img src="/assets/imags/teacher/photos/team7.jpg"></div>
                                                            <div class="mt-head-user-info">
                                                                <span class="mt-user-name">Chris Jagers</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mt-body">
                                                        <h3 class="mt-body-title"> 引爆点 </h3>
                                                        <p class="mt-body-description"> It is a long established fact
                                                            that a reader will be distracted </p>
                                                        <ul class="mt-body-stats">
                                                            <li class="font-green">
                                                                <i class="icon-emoticon-smile"></i> 3,7k
                                                            </li>
                                                            <li class="font-yellow">
                                                                <i class=" icon-share"></i> 3,7k
                                                            </li>
                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="mt-widget-2">
                                                    <div class="mt-head"
                                                         style="background-image: url(/assets/imags/student/course/course2.png);">

                                                        <div class="mt-head-user">
                                                            <div class="mt-head-user-img">
                                                                <img src="/assets/imags/teacher/photos/team3.jpg"></div>
                                                            <div class="mt-head-user-info">
                                                                <span class="mt-user-name">Harry Harris</span>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mt-body">
                                                        <h3 class="mt-body-title"> Christian Davidson </h3>
                                                        <p class="mt-body-description"> It is a long established fact
                                                            that a reader will be distracted </p>
                                                        <ul class="mt-body-stats">
                                                            <li class="font-green">
                                                                <i class="icon-emoticon-smile"></i> 3,7k
                                                            </li>
                                                            <li class="font-yellow">
                                                                <i class=" icon-share"></i> 3,7k
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="mt-widget-2">
                                                    <div class="mt-head"
                                                         style="background-image: url(/assets/imags/student/course/course2.png);">
                                                        <div class="mt-head-user">
                                                            <div class="mt-head-user-img">
                                                                <img src="/assets/imags/teacher/photos/team2.jpg"></div>
                                                            <div class="mt-head-user-info">
                                                                <span class="mt-user-name">Harry Harris</span>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mt-body">
                                                        <h3 class="mt-body-title"> Christian Davidson </h3>
                                                        <p class="mt-body-description"> It is a long established fact
                                                            that a reader will be distracted </p>
                                                        <ul class="mt-body-stats">
                                                            <li class="font-green">
                                                                <i class="icon-emoticon-smile"></i> 3,7k
                                                            </li>
                                                            <li class="font-yellow">
                                                                <i class=" icon-share"></i> 3,7k
                                                            </li>
                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="mt-widget-2">
                                                ##                                                ##课程照片
                                                    <div class="mt-head"
                                                         style="background-image: url(/assets/imags/student/course/course1.png);">
                                                        <div class="mt-head-user">
                                                            <div class="mt-head-user-img">
                                                            ##teacher 照片
                                                                <img src="/assets/imags/teacher/photos/team7.jpg"></div>
                                                            <div class="mt-head-user-info">
                                                                <span class="mt-user-name">Chris Jagers</span>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mt-body">
                                                        <h3 class="mt-body-title"> 引爆点 </h3>
                                                        <p class="mt-body-description"> It is a long established fact
                                                            that a reader will be distracted </p>
                                                        <ul class="mt-body-stats">
                                                            <li class="font-green">
                                                                <i class="icon-emoticon-smile"></i> 3,7k
                                                            </li>
                                                            <li class="font-yellow">
                                                                <i class=" icon-share"></i> 3,7k
                                                            </li>
                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="mt-widget-2">
                                                    <div class="mt-head"
                                                         style="background-image: url(/assets/imags/student/course/course2.png);">

                                                        <div class="mt-head-user">
                                                            <div class="mt-head-user-img">
                                                                <img src="/assets/imags/teacher/photos/team3.jpg"></div>
                                                            <div class="mt-head-user-info">
                                                                <span class="mt-user-name">Harry Harris</span>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mt-body">
                                                        <h3 class="mt-body-title"> Christian Davidson </h3>
                                                        <p class="mt-body-description"> It is a long established fact
                                                            that a reader will be distracted </p>
                                                        <ul class="mt-body-stats">
                                                            <li class="font-green">
                                                                <i class="icon-emoticon-smile"></i> 3,7k
                                                            </li>
                                                            <li class="font-yellow">
                                                                <i class=" icon-share"></i> 3,7k
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="mt-widget-2">
                                                    <div class="mt-head"
                                                         style="background-image: url(/assets/imags/student/course/course2.png);">
                                                        <div class="mt-head-user">
                                                            <div class="mt-head-user-img">
                                                                <img src="/assets/imags/teacher/photos/team2.jpg"></div>
                                                            <div class="mt-head-user-info">
                                                                <span class="mt-user-name">Harry Harris</span>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mt-body">
                                                        <h3 class="mt-body-title"> Christian Davidson </h3>
                                                        <p class="mt-body-description"> It is a long established fact
                                                            that a reader will be distracted </p>
                                                        <ul class="mt-body-stats">
                                                            <li class="font-green">
                                                                <i class="icon-emoticon-smile"></i> 3,7k
                                                            </li>
                                                            <li class="font-yellow">
                                                                <i class=" icon-share"></i> 3,7k
                                                            </li>
                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="mt-widget-2">
                                                ##                                                ##课程照片
                                                    <div class="mt-head"
                                                         style="background-image: url(/assets/imags/student/course/course1.png);">
                                                        <div class="mt-head-user">
                                                            <div class="mt-head-user-img">
                                                            ##teacher 照片
                                                                <img src="/assets/imags/teacher/photos/team7.jpg"></div>
                                                            <div class="mt-head-user-info">
                                                                <span class="mt-user-name">Chris Jagers</span>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mt-body">
                                                        <h3 class="mt-body-title"> 引爆点 </h3>
                                                        <p class="mt-body-description"> It is a long established fact
                                                            that a reader will be distracted </p>
                                                        <ul class="mt-body-stats">
                                                            <li class="font-green">
                                                                <i class="icon-emoticon-smile"></i> 3,7k
                                                            </li>
                                                            <li class="font-yellow">
                                                                <i class=" icon-share"></i> 3,7k
                                                            </li>
                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="mt-widget-2">
                                                    <div class="mt-head"
                                                         style="background-image: url(/assets/imags/student/course/course2.png);">

                                                        <div class="mt-head-user">
                                                            <div class="mt-head-user-img">
                                                                <img src="/assets/imags/teacher/photos/team3.jpg"></div>
                                                            <div class="mt-head-user-info">
                                                                <span class="mt-user-name">Harry Harris</span>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mt-body">
                                                        <h3 class="mt-body-title"> Christian Davidson </h3>
                                                        <p class="mt-body-description"> It is a long established fact
                                                            that a reader will be distracted </p>
                                                        <ul class="mt-body-stats">
                                                            <li class="font-green">
                                                                <i class="icon-emoticon-smile"></i> 3,7k
                                                            </li>
                                                            <li class="font-yellow">
                                                                <i class=" icon-share"></i> 3,7k
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="mt-widget-2">
                                                    <div class="mt-head"
                                                         style="background-image: url(/assets/imags/student/course/course2.png);">
                                                        <div class="mt-head-user">
                                                            <div class="mt-head-user-img">
                                                                <img src="/assets/imags/teacher/photos/team2.jpg"></div>
                                                            <div class="mt-head-user-info">
                                                                <span class="mt-user-name">Harry Harris</span>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mt-body">
                                                        <h3 class="mt-body-title"> Christian Davidson </h3>
                                                        <p class="mt-body-description"> It is a long established fact
                                                            that a reader will be distracted </p>
                                                        <ul class="mt-body-stats">
                                                            <li class="font-green">
                                                                <i class="icon-emoticon-smile"></i> 3,7k
                                                            </li>
                                                            <li class="font-yellow">
                                                                <i class=" icon-share"></i> 3,7k
                                                            </li>
                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PAGE CONTENT INNER -->
            </div>
        </div>
        <!-- END PAGE CONTENT BODY -->
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->


<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/assets/js/app/student/course.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->