#set($navInfo="课程")
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="/assets/css/app/student/course.css" rel="stylesheet" type="text/css"/>
<!-- END PAGE LEVEL STYLES -->

<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->

        <!-- BEGIN PAGE CONTENT BODY -->
        <div class="page-content">
            <div class="container">
                <!-- BEGIN PAGE CONTENT INNER -->
                <div class="page-content-inner">
                    <div class="inbox">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="inbox-sidebar">
                                    <a href="javascript:;" data-title="Compose" class="btn red compose-btn btn-block">
                                        <i class="fa fa-edit"></i> 编辑 </a>
                                    <ul class="inbox-nav">
                                        <li class="active">
                                            <a href="javascript:;" data-type="inbox" data-title="Inbox"> 文学
                                                <span class="badge badge-success">3</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" data-type="important" data-title="Inbox">
                                                毕设 </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" data-type="sent" data-title="Sent"> 编程 </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" data-type="draft" data-title="Draft"> 游戏
                                                <span class="badge badge-danger">8</span>
                                            </a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="javascript:;" class="sbold uppercase" data-title="Trash"> 经济学
                                                <span class="badge badge-info">23</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" data-type="inbox" data-title="Promotions"> 物理
                                                <span class="badge badge-warning">2</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" data-type="inbox" data-title="News"> 其他 </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="inbox-body">
                                    <div class="inbox-header">
                                        <h1 class="pull-left">课程</h1>
                                        <form class="form-inline pull-right" action="index.html">
                                            <div class="input-group input-medium">
                                                <input type="text" class="form-control" placeholder="Password">
                                                        <span class="input-group-btn">
                                                            <button type="submit" class="btn green">
                                                                <i class="fa fa-search"></i>
                                                            </button>
                                                        </span>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="inbox-content"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PAGE CONTENT INNER -->
            </div>
        </div>
        <!-- END PAGE CONTENT BODY -->
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->


<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/assets/js/app/student/course.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->